services:
  # Zookeeper 1 (Leader)
  zookeeper-1:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper-1
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVERS: "zookeeper-1:2888:3888;zookeeper-2:2888:3888;zookeeper-3:2888:3888"
    volumes:
      - zookeeper-data-1:/var/lib/zookeeper
    networks:
      - kafka-net

  # Zookeeper 2 (Follower)
  zookeeper-2:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper-2
    ports:
      - "2182:2181"
    environment:
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVERS: "zookeeper-1:2888:3888;zookeeper-2:2888:3888;zookeeper-3:2888:3888"
    volumes:
      - zookeeper-data-2:/var/lib/zookeeper
    networks:
      - kafka-net

  # Zookeeper 3 (Follower)
  zookeeper-3:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper-3
    ports:
      - "2183:2181"
    environment:
      ZOOKEEPER_SERVER_ID: 3
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVERS: "zookeeper-1:2888:3888;zookeeper-2:2888:3888;zookeeper-3:2888:3888"
    volumes:
      - zookeeper-data-3:/var/lib/zookeeper
    networks:
      - kafka-net

  # Kafka 1
  kafka-1:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-1
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper-1:2181,zookeeper-2:2181,zookeeper-3:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT"
      KAFKA_LISTENERS: "INSIDE://0.0.0.0:9092,OUTSIDE://0.0.0.0:9093"
      KAFKA_LISTENER_SECURITY_PROTOCOL: "PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "INSIDE://kafka-1:9092,OUTSIDE://kafka-1:9093"
      #KAFKA_ADVERTISED_LISTENERS: "INSIDE://kafka-1:9092,OUTSIDE://localhost:9093" #Test personal
      KAFKA_LISTENER_INTERNAL: "INSIDE"
      KAFKA_LISTENER_EXTERNAL: "OUTSIDE"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INSIDE"  # Añadir esta línea para definir el listener inter-broker
    networks:
      - kafka-net

  # Kafka 2
  kafka-2:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-2
    ports:
      - "9093:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper-1:2181,zookeeper-2:2181,zookeeper-3:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT"
      KAFKA_LISTENERS: "INSIDE://0.0.0.0:9092,OUTSIDE://0.0.0.0:9093"
      KAFKA_LISTENER_SECURITY_PROTOCOL: "PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "INSIDE://kafka-2:9092,OUTSIDE://kafka-2:9093"
      #KAFKA_ADVERTISED_LISTENERS: "INSIDE://kafka-2:9092,OUTSIDE://localhost:9094" # Test Personal
      KAFKA_LISTENER_INTERNAL: "INSIDE"
      KAFKA_LISTENER_EXTERNAL: "OUTSIDE"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INSIDE"  # Añadir esta línea para definir el listener inter-broker
    networks:
      - kafka-net

  # Kafka 3
  kafka-3:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-3
    ports:
      - "9094:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper-1:2181,zookeeper-2:2181,zookeeper-3:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT"
      KAFKA_LISTENERS: "INSIDE://0.0.0.0:9092,OUTSIDE://0.0.0.0:9093"
      KAFKA_LISTENER_SECURITY_PROTOCOL: "PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "INSIDE://kafka-3:9092,OUTSIDE://kafka-3:9093"
      #KAFKA_ADVERTISED_LISTENERS: "INSIDE://kafka-3:9092,OUTSIDE://localhost:9095" # Test personal
      KAFKA_LISTENER_INTERNAL: "INSIDE"
      KAFKA_LISTENER_EXTERNAL: "OUTSIDE"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INSIDE"  # Añadir esta línea para definir el listener inter-broker
    networks:
      - kafka-net

  # Kafka UI
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "9090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "docker-cluster"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka-1:9092,kafka-2:9093,kafka-3:9094"
    networks:
      - kafka-net

networks:
  kafka-net:
    name: kafka-net
    driver: bridge

volumes:
  zookeeper-data-1:
  zookeeper-data-2:
  zookeeper-data-3: